VITE_APP_VERSION=v1.0.1
GENERATE_SOURCEMAP=false


## Backend API URL
PUBLIC_URL = http://localhost:3000
VITE_APP_BASE_NAME = /


VITE_PUBLIC_APP_HTTP_SCHEME=http://
VITE_PUBLIC_APP_BASE_URL=localhost:4000/api
VITE_PUBLIC_APP_API_VERSION=v1